html, body {
    height: 100%;
}

body {
    font-family: monospace;
    max-width: 720px;
    margin: 0 auto;
    padding: 5px;
}



#main-menu {
    text-align: center;

    ul#menu {
        list-style-type: none;  

        li {
            font-size: 1.25em;
        }
    }
}
