html, body {
    height: 100%;
}

body {
    font-family: monospace;
    max-width: 720px;
    margin: 0 auto;
    padding: 5px;
}



#main-menu {
    text-align: center;

    #menu {
        margin-top: 70px;
        ul {
            list-style-type: none;  
            padding: 0;
            margin: 0;

            li {
                font-size: 1.25em;
                padding: 5px;
            }
        }
    }
}
