@import "main";

.fields {
    outline: none !important;

    span {
        white-space: pre-wrap;
        font-size: 1.5em;
        display: inline;
    }

    #done {
        color: #777;
    }

    #cursor {
        border-right: 1px solid #555;
        animation: blink 1s steps(1) infinite;
    }

    #error {
        color: red;
        word-wrap: break-word;
    }
}

@keyframes blink {
    50% {visibility: hidden; }
}
