<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.min.css">
        <title>Teplý datel</title>
    </head>
    <body>
        <div id="main-menu">
            <h1>Rychlopsaní s teplým datlem</h1>
            <div>
                github: <a href="https://github.com/burtgulash/teplydatel">burtgulash/teplydatel</a>
            </div>
            <div id="menu">
                <h2>Vyber si hru:</h2>
                <ul>
                    <li><a href="./zavod?t=verejny">Veřejný závod</a></li>
                    <li><a href="./zavod?t=soukromy">Soukromý závod</a></li>
                    <li><a href="./zavod?t=trenink">Trénink</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
