<!doctype html>
<html lang="cs">
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/race.js"></script>
        <style>

.fields span {
    white-space: pre-wrap;
}


body {
    font-family: monospace;
}

#done {
    color: #777;
}

#error {
    color: red;
    word-wrap: break-word;
}

#cursor {
    border-right: 1px solid #555;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {visibility: hidden; }
}
        </style>
    </head>
    <body>
        <h1>Race</h1>
        <a href="/">lobby</a>
        <div class="fields">
            <span id="done"></span><span id="error"></span><span id="cursor"></span><span id="remaining">{{.Race_string}}</span>
        </div>
        <div id="race">
            <h2>Race status</h2>
            <div id="status"></div>
            <ul id="standings"></ul>
        </div>
    </body>
</html>
