<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.min.css">
        <!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/d3.js"></script>
        <script type="text/javascript" src="/js/race.js"></script>
        <title>Teplý datel - závod {{.Race.Race_code}}</title>
    </head>
    <body>
        <h1>Závod {{.Race.Race_code}}</h1>
        <a href="/">zpět do menu</a>
        <div id="race">
            <h3>status</h3>
            <div id="status"></div>
            <h3>hráči</h3>
            <div>jsi hráč {{.Player.Player_id}}</div>
            <ul id="standings"></ul>
            <h3>chart</h3>
            <div id="chart"></div>
        </div>
        <h3>text</h3>
        <div class="fields" tabindex="1">
            <span id="done"></span><span id="error"></span><span id="cursor"></span><span id="remaining">{{.Race.Race_string}}</span>
        </div>
    </body>
</html>
